services:
  app:
    image: fireflyiii/core:latest
    hostname: app
    container_name: firefly_iii_core
    restart: unless-stopped
    volumes:
      - firefly_iii_upload:/var/www/html/storage/upload
    env_file:
      - .env
    networks:
      - firefly_iii
      - net-db
      - net-traefik
    labels:
      - traefik.enable=true
      - traefik.docker.network=net-traefik
      - traefik.http.routers.firefly-redir.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.firefly-redir.entrypoints=web
      - traefik.http.routers.firefly-redir.middlewares=mgeneralredir
      - traefik.http.routers.firefly-redir-https.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.firefly-redir-https.entrypoints=websecure
      - traefik.http.routers.firefly-redir-https.middlewares=mgeneralredir
      - traefik.http.routers.firefly-redir-https.tls=true
      - traefik.http.routers.firefly.entrypoints=web
      - traefik.http.routers.firefly.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.firefly.middlewares=redirect-to-https
      - traefik.http.routers.firefly-https.entrypoints=websecure
      - traefik.http.routers.firefly-https.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.firefly-https.tls=true
    ports:
      - 8082:8080
  #importer:
  #  image: fireflyiii/data-importer:latest
  #  hostname: importer
  #  restart: unless-stopped
  #  container_name: firefly_iii_importer
  #  networks:
  #    - firefly_iii
  #  ports:
  #    - '8083:8080'
  #  depends_on:
  #    - app
  #  env_file: .importer.env


  cron:
    #
    # To make this work, set STATIC_CRON_TOKEN in your .env file or as an environment variable
    # The STATIC_CRON_TOKEN must be *exactly* 32 characters long
    #
    image: alpine
    restart: unless-stopped
    env_file:
      - .env
    container_name: firefly_iii_cron
    command: sh -c " apk add tzdata && \ (ln -s /usr/share/zoneinfo/$$TZ
      /etc/localtime || true) && \ echo \"0 3 * * * wget -qO-
      http://app:8080/api/v1/cron/$$STATIC_CRON_TOKEN;echo\" | crontab - && \
      crond -f -L /dev/stdout"
    networks:
      - firefly_iii
    depends_on:
      - app
volumes:
  firefly_iii_upload: null
  firefly_iii_db: null
networks:
  firefly_iii:
    driver: bridge
  net-db:
    external: true
  net-traefik:
    external: true
