services:

  traefik:
    image: "traefik:v3.5"
    restart: unless-stopped
    networks: 
      - net-traefik
      - net-cloudflare
    labels:
      - co.elastic.logs/module=traefik
      - co.elastic.logs/fileset=access
      
      - traefik.enable=true
      
      - traefik.http.middlewares.mgeneralredir.redirectregex.regex=^https?://(.*)/(.*)
      - traefik.http.middlewares.mgeneralredir.redirectregex.replacement=https://$${1}.${DOMAIN_NAME}/$${2}

      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      
      - traefik.http.routers.traefik-https.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.traefik-https.entrypoints=websecure
      - traefik.http.routers.traefik-https.tls=true
      - traefik.http.services.traefik-svc.loadbalancer.server.url=http://${IP_PORT}
      
      - traefik.http.routers.traefik-https.middlewares=traefik-rate,traefik-auth
      - traefik.http.middlewares.traefik-rate.rateLimit.average=1
      - traefik.http.middlewares.traefik-rate.rateLimit.burst=10
      - traefik.http.middlewares.traefik-rate.rateLimit.period=1s
      - traefik.http.middlewares.traefik-auth.basicauth.users=${BASIC_AUTH_USERS}
      
      - traefik.http.routers.traefik-redir.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.traefik-redir.entrypoints=web
      - traefik.http.routers.traefik-redir.middlewares=mgeneralredir

      - traefik.http.routers.traefik-redir-https.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.traefik-redir-https.entrypoints=websecure
      - traefik.http.routers.traefik-redir-https.middlewares=mgeneralredir
      - traefik.http.routers.traefik-redir-https.tls=true
            
      - traefik.http.routers.traefik-http.entrypoints=web
      - traefik.http.routers.traefik-http.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.traefik-http.middlewares=redirect-to-https
      
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      #- "--entrypoints.udp-7359.address=:7359/udp"
      - "--serverstransport.insecureskipverify=true"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--accesslog=true" # Enable access logs
      - "--entrypoints.websecure.forwardedheaders.insecure=true" # Trust all forwarded headers (use with caution)
      - "--accesslog.fields.names.startutc=drop"
      - "--entrypoints.websecure.transport.respondingTimeouts.readTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.idleTimeout=600s"
      - "--entrypoints.websecure.transport.respondingTimeouts.writeTimeout=600s"

    #network_mode: host
    ports:
      - 80:80
      - 443:443
      - 8080:8080
      #- 7359:7359/udp
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-certs-config:/etc/traefik/dynamic
      - traefik-certs:/etc/certs/

volumes:
  traefik-certs-config:
    external: true
  traefik-certs:
    external: true

networks:
  net-cloudflare:
    external: true
  net-traefik:
    external: true