version: "2.1"
services:
  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:10.10.7
    hostname: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
    volumes:
      - jellyfinconfig:/config
      - jellyfinmedias:/medias
      - jellyfincache:/cache
    labels:
      - traefik.enable=true

      - traefik.http.routers.jellyfin-https.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin-https.entrypoints=websecure
      - traefik.http.routers.jellyfin-https.tls=true
      - traefik.http.services.jellyfin-svc.loadbalancer.server.url=${JELLYFIN_BACKEND_URL}

      - traefik.http.routers.jellyfin-redir.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.jellyfin-redir.entrypoints=web
      - traefik.http.routers.jellyfin-redir.middlewares=mgeneralredir

      - traefik.http.routers.jellyfin-redir-https.rule=Host(`${SERVICE_NAME_URL}`)
      - traefik.http.routers.jellyfin-redir-https.entrypoints=websecure
      - traefik.http.routers.jellyfin-redir-https.middlewares=mgeneralredir
      - traefik.http.routers.jellyfin-redir-https.tls=true

      - traefik.http.routers.jellyfin-http.entrypoints=web
      - traefik.http.routers.jellyfin-http.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
      - traefik.http.routers.jellyfin-http.middlewares=redirect-to-https

    #  - 8096:8096
    #  - 8920:8920 #optional
    #  - 7359:7359/udp #optional
    #  - 1900:1900/udp #optional
    restart: unless-stopped
    network_mode: host
    #privileged: true
        
volumes:
  jellyfinconfig:
    external: true
  jellyfinmedias:
    external: true
  jellyfincache:
    external: true
