services:
    uptime-kuma:
        image: louislam/uptime-kuma:1
        restart: unless-stopped
        networks:
            - net-traefik
        labels:
            - traefik.enable=true

            - traefik.http.routers.uptime-redir.rule=Host(`${SERVICE_NAME_URL}`)
            - traefik.http.routers.uptime-redir.entrypoints=web
            - traefik.http.routers.uptime-redir.middlewares=mgeneralredir

            - traefik.http.routers.uptime-redir-https.rule=Host(`${SERVICE_NAME_URL}`)
            - traefik.http.routers.uptime-redir-https.entrypoints=websecure
            - traefik.http.routers.uptime-redir-https.middlewares=mgeneralredir
            - traefik.http.routers.uptime-redir-https.tls=true
            
            - traefik.http.routers.uptimekuma.entrypoints=web
            - traefik.http.routers.uptimekuma.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
            - traefik.http.routers.uptimekuma.middlewares=redirect-to-https
            
            - traefik.http.routers.uptimekuma-https.entrypoints=websecure
            - traefik.http.routers.uptimekuma-https.rule=Host(`${SERVICE_NAME_URL}.${DOMAIN_NAME}`)
            - traefik.http.routers.uptimekuma-https.tls=true

        ports:
            - 3001:3001
        volumes:
            - uptime-kuma:/app/data
        environment:
            - TZ=America/Sao_Paulo
volumes:
    uptime-kuma:
        external: true

networks:
    net-traefik:
        external: true